mixin filter-mixin(data)
		div.container-fluid
			div.row
				div.col-md-10.col-md-offset-1.proj-container
					div.container-fluid
						div.row
							div.col-md-10
								div.proj-header #{data.name}
						div.row
							div.col-md-2(align="center")
								img(src="/data/VRClubUniverseData/VR_Demos/#{data.year}/#{data.executable}/#{data.image}" class="project-img")
							div.col-md-8.col-md-offset-2
								div(class="row proj-data")
								div(class="row proj-data")
									div.project-label Creator(s) : 
									div.project-name #{data.creator}
								div(class="row proj-data") 
									div.project-label Description : 
									div.project-name #{data.description}
								div(class="row proj-data")
									div.project-label Tags :
										- data.tags = data.tags.replace(new RegExp("'", 'g'), '');
										- data.tags = data.tags.substring(1, data.tags.length - 1)
										- data.tags = data.tags.split(",");
										- for (let i = 0; i < data.tags.length; i++) {
											- data.tags[i] = data.tags[i].trim().substring(1, data.tags[i].length);
										- }
											- for (var key in data.tags)
												a.tag-link(href="/filter/?#{data.tags[key]}=true")
													span #{data.tags[key]}
										
