mixin filter-mixin(data)
		div.container-fluid
			div.row
				div.col-md-10.col-md-offset-1.projects__elem-container
					div.container-fluid
						div.row
							div.col-md-10
								div.projects__elem-name #{data.name}
						div.row
							div.col-md-2(align="center")
								img(src="/data/VRClubUniverseData/#{platform}/#{data.year}/#{data.executable}/#{data.image}").projects__elem-img
							div.col-md-8.col-md-offset-2.projects__elem-data
								div(class="row projects__elem-data__row")
									div.projects__elem-data__row-title Creator(s) : 
									div.projects__elem-data__row-data #{data.creator}
								div(class="row projects__elem-data__row") 
									div.projects__elem-data__row-title Description : 
									div.projects__elem-data__row-data #{data.description}
								div(class="row projects__elem-data__row")
									div.projects__elem-data__row-title Tags :

										- data.tags = data.tags.split(",");
										-data.tags.push("" + data.year);
											- for (var key in data.tags)
												a.projects__elem-tag(href="/filter/?#{data.tags[key]}=true")
													span #{data.tags[key]}
										
