mixin filter-mixin(data)
		-console.log(data);
		div.container-fluid
			div.row
				div.col-md-10.col-md-offset-1.proj-container
					div.container-fluid
						div.row
							div.col-md-10
								div.proj-header #{data.name}

						div.row
							div.col-md-2(align="center")
								img(src="/data/VRClubUniverseData/VR_Demos/#{data.year}/#{data.executable}/#{data.image}" class="project-img")
							div.col-md-8.col-md-offset-2
								div(class="row proj-data")
								div(class="row proj-data")
									div.project-label Creator(s) : 
									div.project-name #{data.creator}
								div(class="row proj-data") 
									div.project-label Description : 
									div.project-name #{data.description}
								//- div(class="row proj-data")
									//- div.project-label Tags :
									//- -for (var key in data.Tags)
										//- a.tag-link(href="/filter/#{data.Tags[key]}")
											//- span #{data.Tags[key]}
